
body {
    background-color: #a625e8;
    font-family: Arial, sans-serif;
    margin: 0;
}
header, footer {
    background-color: #1da5ea;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
nav {
    background: #ddd;
    padding: 5px;
}
main {
    padding: 20px;
}
section {
    border: 3px solid #000000;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


td img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.seccion-pro {
    margin: 20px auto;
    padding: 15px;
    border: 2px solid #000;
    max-width: 800px;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #1da5ea;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

td {
    vertical-align: middle;
    padding: 15px;
}

html {
    scroll-behavior: smooth;
}

.reglas {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 20px;
    border-left: 5px solid #1da5ea;
    border-radius: 5px;
    color: #333;
}

.reglas h3 {
    margin-top: 0;
    color: #a625e8;
}

ul {
    padding-left: 20px;
}